/* This file is for your main application css. */

@import "./phoenix.css";

.help-block {
    color: red;
    text-transform: capitalize;
    position: relative;
    top: 5px;
    
}
.form-group {
    position: relative;
    margin-bottom: 25px;
}